.navbar {
  background-color: rgb(1, 34, 51);
}




.header{
  background-color: rgb(1, 34, 51);
}
.headerRow{
  padding-top: 250px;
  padding-left: 250px;
  padding-right: 250px;
}
.headerRow h1{
  font-size: 65px;
}

.btn1{
  padding: 10px 30px;
  border: 1px solid rgb(24, 199, 252);
  background-color: rgb(34, 178, 250) !important;
  color: aliceblue;
  font-family: cursive !important;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.btn1::before{
  content:'';
  position: absolute;
  top: 0px;
  left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 34, 51);
  /* border-radius: 50% 0 0 50%; */
  transition: all .6s;
  z-index: -1;
}
.btn1:hover::before{
  left: 0px;
  border-radius: 0;
}

.btn2{
  border: 1px solid rgb(24, 199, 252) !important;
  background-color: rgb(1, 34, 51) !important;
  color: aliceblue !important;
  font-family: cursive !important;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.btn2::before{
  content:'';
  position: absolute;
  top: 0px;
  right: 210px;
  width: 100%;
  height: 100%;
  background-color: rgb(34, 178, 250);
  /* border-radius: 50% 0 0 50%; */
  transition: all .6s;
  z-index: -1;
}
.btn2:hover::before{
  right: 0px;
  border-radius: 0;
}
.emoj{
  background-color: rgba(244, 61, 61, 0.255);
  width: 45px;
  height: 55px;
}
.check{
  background-color: rgba(7, 125, 9, 0.255);
  width: 45px;
  height: 55px;
}
.traine{
  position: relative;
}
.traine::before{
  content: '';
  background-color: rgb(225, 52, 52);
  position: absolute;
  height: 3px;
  width: 85px;
  bottom: -25px;
}

.card3{
  background-color: rgb(12, 156, 223);
}
.folder{
  background-color: rgb(252, 253, 252);
  width: 45px;
  height: 55px;
  color: rgb(12, 156, 223);
}

.trainer::before{
  content: '';
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 3px;
  width: 85px;
  bottom: -25px;
}

@media screen and (max-width: 500px ) {
  .headerRow{
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .headerRow h1{
    font-size: 45px;
  }
  .gaucheImg{
    width: 190px;
    left: -30px !important;
  }
  .bas{
    left: 13px !important;
  }
  .txt{
    width: 100% !important;
  }
  .pTestmo{
    width: 90% !important;
  }
  .inputDiv{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .featured{
    width: 90% !important;
  }
}

@media screen and (max-width: 821px ) and (min-width: 501px) {
  .headerRow{
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .headerRow h1{
    font-size: 45px;
  }
  .enfant::after{
    content: '';
    background-color: rgba(202, 3, 3, 0.332);
    position: absolute;
    height: 90px;
    width: 50px;
    bottom: 2px;
    right: 8px !important;
  }
  .gaucheImg{
    width: 190px;
    left: -40px !important;
  }
  .pTestmo{
    width: 90% !important;
  }
  .inputDiv{
    width: 100% !important;
  }
  .Rfooter{
    text-align: center;
  }
}

/* section1 */

.packageH1{
  position: relative;
}
.packageH1::before{
  content: '';
  background-color: rgb(202, 3, 3);
  position: absolute;
  height: 5px;
  width: 85px;
  bottom: 85px;
}

.gaucheImg{
  width: 190px;
  left: 10px;
}
.bas{
  bottom: -85px;
}

.enfant::after{
  content: '';
  background-color: rgba(202, 3, 3, 0.332);
  position: absolute;
  height: 90px;
  width: 50px;
  bottom: 2px;
  right: 80px;
}
.txt{
  width: 700px;
}
.sale1{
  top: 15px;
  left: 30px;
}

.heart:hover,
.shop:hover,
.eye:hover{
  transform:scale(1.1);
  transition: ease-in .6s;
  background-color: rgb(229, 35, 77) !important;
  cursor: pointer;
}
.heart:hover .heart2,
.shop:hover .shop2,
.eye:hover .eye2{
  color: aliceblue !important;
}
.strRite{
  color: aqua;
}

/* Testimonial */

.pTestmo{
  width: 50%;
}

.lh{
  line-height: 7px!important ;
}

/* Section 3 */

.inputDiv{
  padding-left: 150px ;
  padding-right: 150px ;
}

.featured{
  width: 50%;
  font-size: large;
}

/* Footer */

.footer{
  background-color: rgb(1, 34, 51);
}
.bs{
  cursor: pointer;
}
















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
